.visible
{
    display:block;
}

.invisible
{
    display:none;
}

div.page
{
    background-image:url("../img/landscape.jpg");
    background-repeat:no-repeat;
    height:645px;
    width:898px;
    margin-left:auto;
    margin-right:auto;
}

table.pageLayout
{
    height:645px;
    width:898px;    
}

table.pageLayout td
{
    text-align:center;
    vertical-align:middle;
}

div.header
{
    margin-left:auto;
    margin-right:auto;
    font-family:Cambria;
    font-size:100px;
    font-weight:bold;
    color:#FFAD5C;
    text-transform:uppercase;
    height:200px;
}

.inputTR
{
    text-decoration:none;
    font-family:Cambria;
    font-size:20px;
    font-weight:bold;
    color:#FFFF75;
    background-color:#CC3333;
    cursor:default;
    height:auto;
    width:auto;
    padding:30px 0px 30px 0px;
}

.inputControl
{
    border:2px solid #82A65F;
    background-color:#74503D;
    color:#FFFF75;
    font-weight:bold;
    font-family:Cambria;
    font-size:15px;
    padding:5px 5px 5px 5px;
    width:200px;
}

a.controls
{
    text-decoration:none;
    font-family:Cambria;
    font-size:30px;
    font-weight:bold;
    color:#FFDA47;
    cursor:pointer;
    border:1px solid #8F8F00;
    background-image:url("../img/wood.jpg");
    background-repeat:repeat-x repeat-y;
    /*background-color:#AA3333;*/
    height:auto;
    width:auto;
    padding:10px 15px 10px 15px;
}

a.controls:hover
{
    color:#FFFF75;
    border:1px solid #CCCC00;
    /*background-color:#CC3333;*/
}

a.controls_small
{
    text-decoration:none;
    font-family:Cambria;
    font-size:20px;
    font-weight:bold;
    color:#FFDA47;
    cursor:pointer;
    border:1px solid #8F8F00;
    background-image:url("../img/wood.jpg");
    background-repeat:repeat-x repeat-y;
    /*background-color:#AA3333;*/
    height:auto;
    width:auto;
    padding:3px 7px 3px 7px;
    margin:0px 20px 0px 20px;
}

a.controls_small:hover
{
    color:#FFFF75;
    border:1px solid #CCCC00;
    /*background-color:#CC3333;*/
}

#pageContent,
#pageContentLogin,
#pageContentRegister,
table.menu,
table.mainMenu
{
    margin-left:auto;
    margin-right:auto;
}

table.menu
{
    border:2px solid #82A65F;
}

table.menu caption
{
    font-family:Cambria;
    font-size:18px;
    font-weight:bold;
    color:#B8FF70;
    background-color:#CC3333;
    cursor:default;
    height:auto;
    width:200px;
    border:2px solid #82A65F;
    padding:5px 0 5px 0;
}

table.menu td,
table.mainMenu td
{
    text-align:center;
    width:auto;
    height:auto;
    padding:10px;
}
